.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.characterImage {
  height: 600px;
}

.characterImage.skeleton {
  width: 400px;
}

.characterAttributes {
  margin-left: 20px;
}

.attribute {
  padding-bottom: 15px;
}

.quoteContanier {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.existingQuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column;
  }

  .characterImage {
    height: 450px;
    margin-bottom: 20px;
  }

  .characterImage.skeleton {
    width: 300px;
  }

  .characterAttributes {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .characterImage {
    height: 300px;
  }

  .characterImage.skeleton {
    width: 200px;
  }

  .characterName {
    font-size: 2rem;
  }
}
