.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.characterImage {
  height: 600px;
}

.characterAttributes {
  margin-left: 20px;
}

.attribute {
  padding-bottom: 15px;
}

.quoteContanier {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.existingQuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
